pocket filter=lfs diff=lfs merge=lfs -text
kitchen/Pods/MLKitBarcodeScanning/Frameworks/MLKitBarcodeScanning.framework/MLKitBarcodeScanning filter=lfs diff=lfs merge=lfs -text
pocket[[:space:]]kitchen/Pods/MLKitBarcodeScanning/** filter=lfs diff=lfs merge=lfs -text
